body{
  font-family:"Comic Sans MS", cursive, sans-serif;
}

  h1 {
  height: 50px;
  text-align:center;
  margin: 40px auto;
  font-size: 40px;

  }

    .item{
  background-color:grey;
  box-sizing:border-box;
  border:1px solid black;
  margin-right:1%;
  margin-bottom: 5%;
  float:left;
  position: relative;
    }

  .child{
    position: absolute;
    right:0px;
    top:0px;
    width: 130px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    line-height:40px;
    margin-bottom: 7px;
    font-size: 30px;
    }

.text{
  margin-top: 55px;
}

.bf{
  background-color: red;
  color:white;
}

.ch{
  background-color: teal;
}

.su{
  background-color: green;
}



@media (min-width:992px) {

.item{
  width:32.25%;
}
}

@media (max-width:991px) {


  .a{
  width:49%;
    }

.b{
  width: 49%;
}

  .c{
      width: 100%;
  }
}

@media (max-width:768px) {
  .item{
    width: auto;
  }
}
